RS_VQA_MODEL_NAME=BigData-KSU/RS-llava-v1.5-7b-LoRA
RS_VQA_ENDPOINT=
RS_VQA_API_KEY=
RS_VQA_TIMEOUT=120

# MongoDB Configuration
MONGODB_USERNAME="batal6237_db_user"
MONGODB_PASSWORD="F6SyevzyLyccxtxa"
MONGODB_URI="mongodb+srv://batal6237_db_user:F6SyevzyLyccxtxa@satquerydb.qzsycvx.mongodb.net/?appName=satquerydb"
MONGODB_DATABASE=satquery_db

# JWT Authentication Config
JWT_SECRET_KEY="satquery_super_secret_key_change_in_production"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="60"
